<!doctype html>
<html lang="en">
  <head>
    {% render "head", metadata: site.metadata, title: page.title %}
  </head>
  <body class="{{ page.layout }} {{ page.page_class }}">
    {% render "navbar", metadata: site.metadata, page: page %}

    <main>      
      <div class="h-screen flex overflow-hidden bg-gray-100">
        {% render "mobilenavbar", metadata: site.metadata, page: page %}

        {% render "sidebar", metadata: site.metadata, page: page %}

        <div class="flex flex-col w-0 flex-1 overflow-hidden">
          {% render "topnav", metadata: site.metadata, page: page %}

          <main class="flex-1 relative overflow-y-auto focus:outline-none">
            <div class="py-6">
              <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
                <h1 class="text-2xl font-semibold text-gray-900">Dashboard</h1>
              </div>
              <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8 prose">
                {{ content }}
              </div>
            </div>
          </main>
        </div>
      </div>

    </main>

    {% render "footer", metadata: site.metadata %}
  </body>
</html>

